
body{
	background-image: url(backgroundimage.jpg);
	background-size: cover;
	background-position: 50% 40%;	
	background-repeat: no-repeat;
	background-attachment: fixed;

}

h2{
	text-align: center;
	color: rgba(0, 255, 205,0.5);
	font-size: 70px;
	font-size: 5vw;
}
h1{
	font-size: 50px;
	font-family: 'Akaya Telivigala', cursive;
	font-weight: lighter;
	color: rgba(255, 83, 0);
	box-decoration-break: clone;
	

}
pre{
	font-family: 'Dancing Script', cursive;
	font-size: 3vw;
	text-align: left;
	color: rgba(154, 255, 0);
	background-color: rgba(131, 75, 75,0.4);
	width: 99%;
}
strong,q{
	color: rgba(255, 0, 121);
	font-weight: 800;
}
* {box-sizing: border-box}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}


	
